.board-chip{
  cursor: pointer;
}

.home-title{
  font-size: 3em;
  font-weight: 600;
  color: #3f51b5;
}

.home-secondary-title{
  font-size: 2.1em;
  font-weight: 500;
}

.trending-image{
  object-fit: scale-down;
  cursor: pointer;
}

.trending-subject{
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: black;
}
