<div *ngFor="let thread of threads" fxLayoutAlign="center center" i18n-dir="@@defaultDir" dir="ltr">
  <mat-card class="post-item" fxLayout="row wrap" fxLayout.lt-md="column" fxFlex="90" fxFlex.lt-md="98">
    <app-post-file *ngIf="showFile[i]" (click)="showFile[i] = !showFile[i]" [file]="thread.file_name"></app-post-file>

    <app-post-thumbnail [thumbnail]="thread.thumbnail_name" [file]="thread.file_name"
                        *ngIf="!showFile[i]" (click)="showFile[i] = !showFile[i]"></app-post-thumbnail>
    <div fxLayout="column" fxLayoutGap="4px" fxFlex fxFlex.lt-md="10">

      <app-management-post-header [post]="thread" [is_locked]="thread.is_locked"
                                  [is_sticky]="thread.is_sticky"></app-management-post-header>
      <a routerLink="../threads/{{thread.id}}" class="thread-subject">{{thread.subject}}</a>

      <div class="post-content" fxLayout="row" fxLayoutWrap="wrap">
        <div [innerHTML]="thread.body_html"></div>

      </div>
      <div fxFlex=""></div>
      <div fxFlexAlign="end">

        <mat-card-actions class="post-actions" fxLayout="row" fxLayoutGap="4px">
          <button *ngIf="loggedUser?.role!=='janitor'" mat-flat-button color="warn" (click)="banDialog(thread.post_id)"
                  i18n="@@banButton"> Ban
          </button>
          <button mat-flat-button color="warn" (click)="deleteDialog(thread)" i18n="@@deleteThreadButton">Delete
            Thread
          </button>
          <button *ngIf="thread.reports.length" mat-flat-button color="accent"
                  (click)="reportsDialog(thread.id, thread.reports)">
            {{thread.reports.length}}
            <span i18n="@@reports">Reports</span>
          </button>
          <button mat-button routerLink="../threads/{{thread.id}}">{{thread.posts_count}}
            <span i18n="@@comments">Comments</span>
          </button>
          <button mat-button routerLink="../threads/{{thread.id}}">{{thread.images_count}}
            <span i18n="@@images">Images</span></button>
        </mat-card-actions>
      </div>

    </div>

  </mat-card>
</div>
