<div fxLayoutAlign="center center" i18n-dir="@@defaultDir" dir="ltr">
  <mat-card fxFlex="30" fxFlex.lt-md="90" fxLayout="column">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title><b i18n="@@changePasswordTitle">Change Password</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form fxLayout="column" [formGroup]="changePasswordForm"
            (ngSubmit)="changePasswordForm.valid && changePassword()">
        <mat-form-field>
          <input matInput type="password" i18n-placeholder="@@passwordPlaceholder" placeholder="Password"
                 formControlName="password" autofocus>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" i18n-placeholder="@@newPasswordPlaceholder" placeholder="New Password"
                 formControlName="newPassword">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" i18n-placeholder="@@confirmPasswordPlaceholder" placeholder="Confirm Password"
                 formControlName="confirmPassword">

        </mat-form-field>
        <span *ngIf="changePasswordForm.errors?.mismatch" class="error" i18n="@@passwordMismatchError">
          Passwords don't match
        </span>
        <mat-card-actions fxLayoutAlign="center center">
          <button mat-raised-button color="primary" i18n="@@changePasswordSubmit">Change Password</button>
        </mat-card-actions>
      </form>
      <p fxLayoutAlign="center center">
      <span *ngIf="success" class="success" i18n="@@changePasswordSuccess">
        Password has been changed
      </span>
        <span *ngIf="error" class="error" i18n="@@changePasswordWrongPassword">
        Wrong password
      </span>
      </p>
    </mat-card-content>
  </mat-card>
</div>
