<form fxLayout="column" [formGroup]="reportForm"
      (ngSubmit)="reportForm.valid && report()" i18n-dir="@@defaultDir" dir="ltr">
  <h1 mat-dialog-title fxLayoutAlign="center center" i18n="@@reportPostWarningTitle">Attention!</h1>
  <div mat-dialog-content i18n="@@reportPostWarning" fxLayoutAlign="center center">
    This form is only for reporting illegal content.
  </div>
  <mat-form-field fxFlex>
    <input matInput placeholder="reason" formControlName="reason"
           i18n-placeholder="@@reportPostReasonPlaceholder">
  </mat-form-field>

  <mat-dialog-actions fxLayoutAlign="end end" fxLayout="row">
    <button mat-button mat-dialog-close i18n="@@cancel">Cancel</button>
    <button mat-button type="submit" i18n="@@reportPostSubmit">Report</button>
  </mat-dialog-actions>

</form>

